body{
    margin: 0;
    border: 0;
    padding: 0;
}

.label{
    padding: 20px 100px;
    background: -webkit-linear-gradient(top, #E1FFFF , #5F9EA0); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(top, #E1FFFF, #5F9EA0); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(top, #E1FFFF, #5F9EA0); /* Firefox 3.6 - 15 */
    background: linear-gradient(top, #E1FFFF , #5F9EA0); /* 标准的语法（必须放在最后） */
}

